<main>
  <div class="container new-post">
    <div class="row">
  <div class="col-12"></div>
  </div>
  </div>
</main>

<table class="table">
  <tr>
  <td><b>新規投稿</b></td>
  <td>投稿内容</td>
  <td>ユーザ</td>
  </strong>
  </tr>
  <th>aaahhh</th>
  <th>test</th>
  <th>testユーザ</th>
</table>